<h3>Answer the Sphinx's riddles!</h3>

<form action="/levelone" method="post">

  <button type="submit" class="btn">Click go to get started!</button>
</form>



<!-- <div class="form-group">
  <label for="riddle2">What gets wetter and wetter the more it dries?</label>
  <input id="second" name="riddle2" class="form-control" type="text">
</div>
<div class="form-group">
  <label for="riddle3">What is so fragile that when you say its name you break it?</label>
  <input id="third" name="riddle3" class="form-control" type="text">
</div> -->
