<h3>Answer the Sphinx's second riddle!</h3>

<form action="/leveltwo" method="post">
  <div class="form-group">
    <label for="answer"><%= @new_question2 %></label>
    <input id="question" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
